.container {
  margin: 50px 0;
}
.card {
  margin: 0 2% !important;
}

.infected {
  border-left: 10px solid rgba(0, 0, 255, 0.8);
}

.recovered {
  border-left: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-left: 10px solid rgba(255, 0, 0, 0.5);
}
.infected:hover {
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}

.recovered:hover {
  background-color: rgba(0, 255, 0, 0.5);
  color: white;
}

.deaths:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}
